### Práctica de Acceso a bases de datos

Considerar una base de datos acerca de la liga de baloncesto formada por dos tablas:

__Tabla "equipos"__:

* registro	Numérico (Valor único)
* nombre	Cadena
* nombre_entrenador	Cadena
* nombre_cancha	Cadena
* poblacion	Cadena
* anio_fundacion	Numérico
* anotaciones 	Cadena	 


__Tabla "partidos"__:

* registro	Numérico (Valor único)
* id_equipo1	Numérico	
* resultado_equipo1	Numérico	
* id_equipo2	Numérico	
* resultado_equipo2	Numérico

__Valores de tabla Equipos__:

1, 'Winterthur F.C. Barcelona', 'Dusko Ivanovic', 'Palau Blaugrana', 'BARCELONA', 1926, 'Ganador de copa de Europa'

2, 'Real Madrid', 'Joan Plaza', 'Palacio de Vistalegre', 'MADRID', 1932, 'Ganador de copa de Europa y varias ligas'

3, 'Club Baloncesto Estudiantes', 'Pedro Martínez', 'Madrid Arena', 'MADRID', 1948, ''

4, 'Unicaja Málaga', 'Sergio Scariolo', 'Palacio de Deportes', 'MALAGA', 1992, 'Último ganador de la liga ACB 2006'

5, 'Caja San Fernando', 'Manel Comas', 'Palacio municipal de los deportes San Pablo', 'SEVILLA', 1987, ''

6, 'TAU Cerámica', 'Velimir Perasovic', 'Fernando Buesa Arena', 'VITORIA', 1959, ''

7, 'Joventut de Badalona', 'Aíto García Reneses', 'Pabellón Olímpico de Badalona', 'BADALONA', 1930, ''

__Valores de tabla Partidos__:

1, 1, 7, 100, 99

2, 1, 3, 66, 45

3, 2, 3, 68, 92

4, 7, 1, 50,60

5, 5, 1, 76, 45

6, 2, 1, 99, 98

7, 6, 1, 101, 103

8, 6, 2, 80, 85

9, 3, 5, 80, 80

10, 3, 1, 57, 65

11, 3, 2, 67, 58

Se pide:
1.  Hacer una función que cree la base de datos "baloncesto" con sus tablas y datos correspondientes (2.5 puntos)
2.  Resolver las siguientes consultas(7.5 puntos):

   * El número de equipos y población agrupados por la población ordenados decrecientemente  por el número de equipos
   
   * Partidos jugados: nombre del equipo1, nombre del equipo2, resultado equipo1, resultado equipo2 ordenados por el nombre del equipo1
   
   * Nº total de partidos jugados y nombre del equipo ordenado decrecientemente por el nº de partidos jugados.
   
   
   * Hallar la media de la puntuación de cada equipo y nombre del equipo ordenada decrecientemente por el nº de puntos
   
   * Hallar la máxima diferencia de puntos entre todos los partidos de los equipos añadiendo el nombre  del equipo1 y equipo2 ordenados descrecientemente por el nuevo campo calculado máxima diferencia de puntos.
   
   * Mostrar los campos nombre, nombre del entrenador, nombre de la cancha, población y año de fundación  de todos los equipos que se hayan jugado ningún partido.

#### Normas de entrega

* Fecha tope de entrega: 5/10/2020
* La entrega se realizará subiendo al campus virtual un notebook de Jupyter con la solución. El archivo tendrá como nombre BasesDatos_GrupoX donde X será el número de grupo correspondiente.

In [23]:
import sqlite3

def createTables():
    conn=sqlite3.connect("baloncesto.sqlite3")
    cur=conn.cursor()


    cur.execute("DROP TABLE IF EXISTS Equipos")
    cur.execute("CREATE TABLE Equipos (registro_Numérico INTEGER UNIQUE, nombre TEXT, nombre_entrenador TEXT, nombre_cancha TEXT, poblacion TEXT, anio_fundacion INTEGER, anotaciones TEXT)")
    #cur.execute('''CREATE TABLE IF NOT EXISTS Equipos (registro_Numérico INTEGER UNIQUE, nombre TEXT, nombre_entrenador TEXT, nombre_cancha TEXT, poblacion TEXT, anio_fundacion INTEGER, anotaciones TEXT)''')
    cur.execute("DROP TABLE IF EXISTS Partidos")
    cur.execute("CREATE TABLE Partidos (registro_Numérico INTEGER UNIQUE, id_equipo1 INTEGER, id_equipo2 INTEGER, resultado_equipo1 INTEGER, resultado_equipo2 INTEGER)")

    entradas1=[(1, 'Winterthur F.C. Barcelona', 'Dusko Ivanovic', 'Palau Blaugrana', 'BARCELONA', 1926, 'Ganador de copa de Europa'),
              (2, 'Real Madrid', 'Joan Plaza', 'Palacio de Vistalegre', 'MADRID', 1932, 'Ganador de copa de Europa y varias ligas'), 
              (3, 'Club Baloncesto Estudiantes', 'Pedro Martínez', 'Madrid Arena', 'MADRID', 1948, ''), 
              (4, 'Unicaja Málaga', 'Sergio Scariolo', 'Palacio de Deportes', 'MALAGA', 1992, 'Último ganador de la liga ACB 2006'),
              (5, 'Caja San Fernando', 'Manel Comas', 'Palacio municipal de los deportes San Pablo', 'SEVILLA', 1987, ''),
              (6, 'TAU Cerámica', 'Velimir Perasovic', 'Fernando Buesa Arena', 'VITORIA', 1959, ''),
              (7, 'Joventut de Badalona', 'Aíto García Reneses', 'Pabellón Olímpico de Badalona', 'BADALONA', 1930, '')]

    entradas2=[(1, 1, 7, 100, 99),
               (2, 1, 3, 66, 45),
               (3, 2, 3, 68, 92),
               (4, 7, 1, 50,60),
               (5, 5, 1, 76, 45),
               (6, 2, 1, 99, 98),
               (7, 6, 1, 101, 103),
               (8, 6, 2, 80, 85),
               (9, 3, 5, 80, 80),
               (10, 3, 1, 57, 65),
               (11, 3, 2, 67, 58)]

    for fila in entradas1:
        cur.execute("INSERT INTO Equipos (registro_Numérico , nombre , nombre_entrenador , nombre_cancha , poblacion , anio_fundacion , anotaciones) VALUES (?,?,?,?,?,?,?)", fila)

    for fila in entradas2:
        cur.execute("INSERT INTO Partidos (registro_Numérico , id_equipo1 , id_equipo2 , resultado_equipo1 , resultado_equipo2 ) VALUES (?,?,?,?,?)", fila)

    cur.close()
    conn.commit()

    conn = sqlite3.connect('baloncesto.sqlite3')
    cur = conn.cursor()

    cur.execute('SELECT * FROM Equipos')
    contador = 0
    print ('Equipos:')
    for fila in cur :
        print (fila)
        contador = contador + 1
    print (contador, 'filas.')

    cur.execute('SELECT * FROM Partidos')
    contador = 0
    print ('Partidos:')
    for fila in cur :
        print (fila)
        contador = contador + 1
    print (contador, 'filas.')

    cur.close()
    conn.commit()
    
    
    
def consulta1():
    conn = sqlite3.connect('baloncesto.sqlite3')
    cur = conn.cursor()
    
    consulta1 = {}
    cur.execute('SELECT poblacion FROM Equipos')
    
    for poblacion in cur.fetchall():
        if poblacion not in consulta1.keys():
            consulta1[poblacion] = 1
        else: consulta1[poblacion] += 1

    sort_consulta1 = sorted(consulta1.items(), key=lambda x: x[1], reverse=True)
    
    print("\n")
    
    for i in sort_consulta1:
        print(i[0], i[1])
        
    cur.close()
    conn.commit()   
    

def consulta2():
    conn = sqlite3.connect('baloncesto.sqlite3')
    cur = conn.cursor()
    
    consulta2 = {}
    cur.execute('SELECT * FROM Partidos')
    nombresMapeados = nombreEquipo()
    
    for (registro_Numérico, id_equipo1, id_equipo2, resultado_equipo1, resultado_equipo2) in cur.fetchall():
        consulta2[registro_Numérico] = (nombresMapeados[id_equipo1],nombresMapeados[id_equipo2], resultado_equipo1, resultado_equipo2)
            
    sort_consulta2 = sorted(consulta2.items(), key=lambda x: x[1])  
    print("\n")
    
    for i in sort_consulta2:
        print(i)
        
    cur.close()
    conn.commit()
    
def nombreEquipo():
    conn = sqlite3.connect('baloncesto.sqlite3')
    cur = conn.cursor()
    
    consulta2 = {}
    
    cur.execute('SELECT registro_Numérico, nombre FROM Equipos')
    
    for (registro_Numérico, nombre) in cur.fetchall():
        consulta2[registro_Numérico] = nombre
        
    cur.close()
    conn.commit()
    return consulta2

def consulta3():
    conn = sqlite3.connect('baloncesto.sqlite3')
    cur = conn.cursor()
    
    consulta3 = {}
    cur.execute('SELECT id_equipo1, id_equipo2 FROM Partidos')
    nombresMapeados = nombreEquipo()
    
    for (id_equipo1, id_equipo2) in cur.fetchall():
        if nombresMapeados[id_equipo1] not in consulta3.keys():
            consulta3[nombresMapeados[id_equipo1]] = 1
        else: consulta3[nombresMapeados[id_equipo1]] += 1
        
        if nombresMapeados[id_equipo2] not in consulta3.keys():
            consulta3[nombresMapeados[id_equipo2]] = 1
        else: consulta3[nombresMapeados[id_equipo2]] += 1
    
    sort_consulta3 = sorted(consulta3.items(), key=lambda x: x[1], reverse=True)  
    print("\n")
    
    for i in sort_consulta3:
        print(i)
    
    cur.close()
    conn.commit()
    
def consulta4():
    conn = sqlite3.connect('baloncesto.sqlite3')
    cur = conn.cursor()
    
    consulta4 = {}
    cur.execute('SELECT id_equipo1, id_equipo2, resultado_equipo1, resultado_equipo2 FROM Partidos')
    nombresMapeados = nombreEquipo()
    
    for (id_equipo1, id_equipo2, resultado_equipo1, resultado_equipo2) in cur.fetchall():
            if nombresMapeados[id_equipo1] not in consulta4.keys():
                consulta4[nombresMapeados[id_equipo1]] = (resultado_equipo1, 1)
            else: consulta4[nombresMapeados[id_equipo1]] = (consulta4[nombresMapeados[id_equipo1]][0] + resultado_equipo1, consulta4[nombresMapeados[id_equipo1]][1] + 1)
        
            if nombresMapeados[id_equipo2] not in consulta4.keys():
                consulta4[nombresMapeados[id_equipo2]] = (int(resultado_equipo2), 1)
            else: consulta4[nombresMapeados[id_equipo2]] = (consulta4[nombresMapeados[id_equipo2]][0] + resultado_equipo2, consulta4[nombresMapeados[id_equipo2]][1] + 1)
        
    sort_consulta4 = sorted(consulta4.items(), key=lambda x: x[1][0] / x[1][1] , reverse=True)  
    print("\n")
    
    for i in sort_consulta4:
        print(i[0] + " " + str(i[1][0] / i[1][1]))
        
    cur.close()
    conn.commit()
    
def pr4():
    createTables()
    consulta1()
    consulta2()
    consulta3()
    consulta4()
pr4()

Equipos:
(1, 'Winterthur F.C. Barcelona', 'Dusko Ivanovic', 'Palau Blaugrana', 'BARCELONA', 1926, 'Ganador de copa de Europa')
(2, 'Real Madrid', 'Joan Plaza', 'Palacio de Vistalegre', 'MADRID', 1932, 'Ganador de copa de Europa y varias ligas')
(3, 'Club Baloncesto Estudiantes', 'Pedro Martínez', 'Madrid Arena', 'MADRID', 1948, '')
(4, 'Unicaja Málaga', 'Sergio Scariolo', 'Palacio de Deportes', 'MALAGA', 1992, 'Último ganador de la liga ACB 2006')
(5, 'Caja San Fernando', 'Manel Comas', 'Palacio municipal de los deportes San Pablo', 'SEVILLA', 1987, '')
(6, 'TAU Cerámica', 'Velimir Perasovic', 'Fernando Buesa Arena', 'VITORIA', 1959, '')
(7, 'Joventut de Badalona', 'Aíto García Reneses', 'Pabellón Olímpico de Badalona', 'BADALONA', 1930, '')
7 filas.
Partidos:
(1, 1, 7, 100, 99)
(2, 1, 3, 66, 45)
(3, 2, 3, 68, 92)
(4, 7, 1, 50, 60)
(5, 5, 1, 76, 45)
(6, 2, 1, 99, 98)
(7, 6, 1, 101, 103)
(8, 6, 2, 80, 85)
(9, 3, 5, 80, 80)
(10, 3, 1, 57, 65)
(11, 3, 2, 67, 58)
11 filas.


('MADRID',) 2
('BARCELONA',) 1
('MALAGA',) 1
('SEVILLA',) 1
('VITORIA',) 1
('BADALONA',) 1


(5, ('Caja San Fernando', 'Winterthur F.C. Barcelona', 76, 45))
(9, ('Club Baloncesto Estudiantes', 'Caja San Fernando', 80, 80))
(11, ('Club Baloncesto Estudiantes', 'Real Madrid', 67, 58))
(10, ('Club Baloncesto Estudiantes', 'Winterthur F.C. Barcelona', 57, 65))
(4, ('Joventut de Badalona', 'Winterthur F.C. Barcelona', 50, 60))
(3, ('Real Madrid', 'Club Baloncesto Estudiantes', 68, 92))
(6, ('Real Madrid', 'Winterthur F.C. Barcelona', 99, 98))
(8, ('TAU Cerámica', 'Real Madrid', 80, 85))
(7, ('TAU Cerámica', 'Winterthur F.C. Barcelona', 101, 103))
(2, ('Winterthur F.C. Barcelona', 'Club Baloncesto Estudiantes', 66, 45))
(1, ('Winterthur F.C. Barcelona', 'Joventut de Badalona', 100, 99))


('Winterthur F.C. Barcelona', 7)
('Club Baloncesto Estudiantes', 5)
('Real Madrid', 4)
('Joventut de Badalona', 2)
('Caja San Fernando', 2)
('TAU Cerámica', 2)


TAU Cerámica 90.5
Caja San Fernando 78.0
Real Madrid 77.5
Winterthur F.C. Barcelona 76.71428571428571
Joventut de Badalona 74.5
Club Baloncesto Estudiantes 68.2